/* Styling for tab button text */
.stTabs [data-baseweb="tab-list"] button [data-testid="stMarkdownContainer"] p {
    font-weight: bold;
    font-size: 14px;
}
/* Ensures tooltip for Altair charts appears above other elements */
#vg-tooltip-element {
    z-index: 1000051;
}
.model-accuracy {
    font-weight: bold;
}
/* Hover effect for the summary (label) inside the expander */
[data-testid="stExpander"] details:hover summary{
    background-color: rgba(173, 216, 230, 0.1);
}
/* Styling for the paragraph text (label) inside the expander */
[data-testid="stExpander"] p {
    font-size: 16px;
}
/* Customize the radio button container to be in a row and centered */
div.row-widget.stRadio > div {
    flex-direction: row;
}
